@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />

    <h2 style="color:dimgray;font-family:Arial">Welcome to B.A. Beauty Aesthetic Database </h2>
    <br />
    <br />
    <hr style="width:480px;"/>
    <h4 style="color:dimgray;font-family:Arial">Owned and Run by Catalina Beatrice</h4>
    <hr style="width:380px;"/>
    <h4 style="color:dimgray;font-family:Arial">Advanced Aesthetic Practitioner</h4>
    <h4 style="color:dimgray;font-family:Arial">- GDC Registered -</h4>


</div>
